.faqs-page {
  background: #111;
  color: white;
  min-height: 100vh;
}
.faq-section {
  max-width: 950px;
  margin: 0 auto;
  padding: 2rem;
}

.faq-section h1 {
    font-size: 2.8rem;
      font-weight: 800;
      line-height: 1.2;
      text-align: left;
      background: linear-gradient(90deg,
        #a400ff 0%,
        #ff0080 27%,
        #ff2a2a 38%,
        #ff7a00 43%,
        #ffa500 37%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
      margin: 20px 0;
}

.faq-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.faq-item {
  background: #2a2a2a;
  border-radius: 15px;
  padding: 1rem 1.5rem;
  position: relative;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq-item.active .faq-question {
  background-color: #a400ff;
  border-radius: 12px;
  padding: 0.5rem 1rem;
}

.faq-question span {
  font-size: 1.2rem;
  font-weight: 500;
}

.toggle-btn {
  background: #a400ff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.toggle-btn i {
  color: white;
  font-size: 1rem;
  transition: transform 0.3s ease;
}

.faq-answer {
  margin-top: 1rem;
  display: none;
  color: #ccc;
  font-size: 1rem;
  line-height: 1.5;
}


.faq-item.active .faq-answer {
  display: block;
}

.faq-item.active .toggle-btn i {
  transform: rotate(180deg);
}