header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    background: linear-gradient(to right, #2d2d2d, #3a3a3a);
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(128, 128, 128, 0.4);
    gap: 2rem; /* spacing between children */
    min-height: 10px; /* reduce height */
  }

  nav {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s ease;
  }

  #auth-buttons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;

  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
  }

  button:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }

  button:active {
    transform: translateY(1px);
  }
.Home-Logo {
    height: 3rem;
    width: 200px;
    margin-right: 5rem;
    object-fit: contain;
    display: block;
  }
  .register,
  .login {
    padding: 8px 20px;
    border-radius: 5px;
    font-weight: 600;
    font-family: Arial, sans-serif;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease;
  }

  .register {
    background-color: #ff007f;
    color: white;
    border: 1px solid #ff007f;
    margin-right: 0.1rem;
  }

  .register:hover {
    background-color: #e60073;
    border-color: #e60073;
  }

  .login {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ff007f;
  }

  .login:hover {
    background-color: #ff007f;
    color: white;
  }